.border{
    border: 2px solid red;
    margin: 3px;
}

.flex{
    display: flex;
}

.justify-center{
    justify-content: center;
}

.items-center{
    align-items: center;
}


.bg-black{
    background-color: black;
    color: white;
}

.invert{
    filter: invert(1);
}

.bg-grey{
    background-color: #121212;
}

.rounded{
    border-radius: 7px;
}

.m-1{
    margin:5px;
}

.p-1{
    padding: 10px;
}

/* For WebKit browsers (e.g., Chrome, Safari) */
::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: #333; /* Dark background color */
  }
  
  ::-webkit-scrollbar-thumb {
    background: #555; /* Dark thumb color */
    border-radius: 10px;
  }
  
  /* For Firefox */
  html {
    scrollbar-color: #555 #333; /* Dark thumb and dark track color */
  }
  
  